* {
    margin: 0;
    padding: 0;
}

.wrap {
    width: 900px;
    margin: 0 auto;
    padding: 10px;
    background: aqua;
}

.card {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.item {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 300px;
    padding: 10px;
    gap: 10px;
    background: bisque;
    cursor: pointer;
}

.item .item_content {
    flex-grow: 1;
}

.item .item_bottom {
    display: flex;
    justify-content: space-between;
}

.wrap > div {
    padding: 10px;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.detail_content {
}

.detail_bottom {
    display: flex;
    justify-content: space-between;
}

.write_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.write_form > label {
    width: 10%;
    height: 50px;
    align-content: center;
}

.write_form > input {
    width: 85%;
    padding: 5px;
}

.write_form > textarea {
    width: 85%;
    height: 200px;
    padding: 5px;
}

button {
    padding: 5px;
}