<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>일정관리 앱</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/static/css/style.css">
    <script th:src="@{/js/script.js}" src="/static/js/script.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="wrap">
    <div style="display: flex; justify-content: space-between">
        <div class="title" th:text="${item.get().getTitle()}">제목</div>
        <button onclick="location.href='/'">메인화면</button>
    </div>
    <hr>
    <div class="detail_content" th:text="${item.get().getContent()}">내용</div>
    <hr>
    <div class="detail_bottom">
        <div th:text="${item.get().getPerson()}">담당자</div>
        <div th:text="${#temporals.format(item.get().getCreatedDateTime(), 'yyyy-MM-dd HH:mm:ss')}">2024-05-13 22:22</div>
    </div>
</div>
<script>
</script>
</body>
</html>