<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>일정관리 앱</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/static/css/style.css">
    <script th:src="@{/js/script.js}" src="/static/js/script.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="wrap">
    <div class="detail_top">제목</div>
    <hr>
    <div class="detail_content">내용</div>
    <hr>
    <div class="detail_bottom">
        <div>담당자</div>
        <div>2024-05-13 22:22</div>
    </div>
</div>
<script>
</script>
</body>
</html>