<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>일정관리 앱</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/static/css/style.css">
    <script th:src="@{/js/script.js}" src="/static/js/script.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="wrap">
    <div style="display: flex; justify-content: space-between">
        <div class="title">일정 관리</div>
        <button onclick="location.href='/todo'">일정 작성</button>
    </div>
    <div class="card">
        <div class="item" th:each="todo : ${items}" th:onclick="'movePage(' + ${todo.getId()} + ')'">
            <input type="hidden" class="item_id" th:value="${todo.getId()}">
            <div class="item_title" th:text="${todo.getTitle()}">제목</div>
            <hr>
            <div class="item_content" th:text="${todo.getContent()}">내용</div>
            <hr>
            <div class="item_bottom">
                <div th:text="${todo.getPerson()}">담당자</div>
                <div th:text="${#temporals.format(todo.getCreatedDateTime(), 'yyyy-MM-dd HH:mm:ss')}">2024-05-13 22:22</div>
            </div>
        </div>
    </div>
</div>
<script>
</script>
</body>
</html>