<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>일정관리 앱</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="/static/css/style.css">
    <script th:src="@{/js/script.js}" src="/static/js/script.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="wrap">
    <div style="display: flex; justify-content: space-between">
        <h1>일정 관리</h1>
        <button onclick="location.href='/write'">일정 작성</button>
    </div>
    <div class="card">
        <div class="item" onclick="location.href='detail/1'">
            <input type="hidden" class="item_id" value="1">
            <div class="item_title">제목</div>
            <hr>
            <div class="item_content">내용</div>
            <hr>
            <div class="item_bottom">
                <div>담당자</div>
                <div>2024-05-13 22:22</div>
            </div>
        </div>
        <div class="item">
            <input type="hidden" class="item_id" value="">
            <div class="item_title">제목</div>
            <hr>
            <div class="item_content">내용</div>
            <hr>
            <div class="item_bottom">
                <div>담당자</div>
                <div>2024-05-13 22:22</div>
            </div>
        </div>
        <div class="item">
            <input type="hidden" class="item_id" value="">
            <div class="item_title">제목</div>
            <hr>
            <div class="item_content">내용</div>
            <hr>
            <div class="item_bottom">
                <div>담당자</div>
                <div>2024-05-13 22:22</div>
            </div>
        </div>
        <div class="item">
            <input type="hidden" class="item_id" value="">
            <div class="item_title">제목</div>
            <hr>
            <div class="item_content">내용</div>
            <hr>
            <div class="item_bottom">
                <div>담당자</div>
                <div>2024-05-13 22:22</div>
            </div>
        </div>
    </div>
</div>
<script>
</script>
</body>
</html>